.Gallery {
  overflow: auto;
  height: 100vh;
}
.NodeImg {
  //   .container {
  // padding-bottom: 10px;
  padding: 10px 20px 0px 0px;
  img {
    width: 100%;
    object-fit: cover;
    min-height: 50px;
    max-height: 280px;
    // margin: 10px 20px 0px 0px;
    border-radius: 10px;
    overflow: hidden;
    // }
  }
}

$max-width: 600px;
@media screen and (min-width: $max-width) {
  .Gallery .container {
    width: $max-width;
    margin-left: calc(50% - #{$max-width/2});
  }
}
